html, body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

#container{
    display: flex;
    flex-direction: column;
    gap: 2px;
    height: 100%;
    box-sizing: border-box;
}

#header{
    background: red;
    display: flex;
    justify-content: space-between;
    padding: 2px 5px;
}

#title{
    font-size: 18px;
    font-weight: bold;
}

#header-link label{
    cursor: pointer;
}

#header-link label:hover{
    font-weight: bold;
}

#xerock-link{
    color: inherit;
    text-decoration: none;
    display: inline-block;
    transition: 0.5s transform ease;
}

#xerock-link:hover{
    transform: translateY(5px);
}

#get-link
{
    display: inline-block;
    transition: 0.5s all ease;
    cursor: pointer;
    border-radius: 10px;
    padding: 2px;
}

#get-link:hover{
    filter: brightness(110%);
    transform: rotate(90deg);
    background-color: rgb(200, 100, 100);
}

#content
{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    background: beige;
/*    height: 100%;*/
    padding: 5px;
    overflow: auto;
}

#convert-result{
    flex-basis: 0;
    flex-grow: 3;
    overflow: auto;
}

#convert-data{
    flex-basis: 0;
    flex-grow: 2;
}

#data-output-text{
    line-break: anywhere;
}

#input-container
{
    display: flex;
    flex-direction: column;
    width: 40%;
    min-width: 100px;
}

#data-input
{
    width: 100%;
    height: 100px;
    border-radius: 5px;
    resize: none;
    box-sizing: border-box;
}

#input-options{
    display: flex;
    gap: 2px;
    align-items: center;
}

#label-length{
    font-weight: bold;
}

#length{
    font-weight: normal;
    width: 4ch;
    height: 2.5ch;
    border-radius: 5px;
    text-align: center;
}

#label-padding
{
    cursor: pointer;   
}

#data-input-select{
    border-radius: 5px;
    height: 3.3ch;
    background-color: white;
}

label[for=data-input],
#custom-byte-array label
{
    font-weight: bold;
    font-size: 20px;
}

#custom-byte-array label
{
    display: block;
    margin-bottom: 4px;
}

.flex-item
{
    margin-left: 2px;
    margin-bottom: 2px;
}

#input-data-container
{
    display: flex;
}

#data-table{
    width: 100%;
/*    margin-bottom: 2px;*/
}

#data-table td{
    background-color: cornsilk;
    width: 100%;
}

#data-table td.error{
    background-color: red;
    color: white;
}

#data-table td:hover{
    background: yellow;
}

#data-table th
{
    background: aliceblue;
    cursor: pointer;
}

#data-table th:hover
{
    filter: brightness(110%);
}

table, tr, td, th
{
    border-collapse: collapse;
    border: 1px solid black;
    padding: 3px;
}

#error
{
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 2px 5px;
}
